<div class="btn-toolbar"
     role="toolbar"
     aria-label="Toolbar with button groups">
  <div class="btn-group mr-2"
       role="group"
       aria-label="First group">
    <button type="button"
            [disabled]="model.showingUpcoming"
            (click)="showUpcoming()"
            class="btn btn-secondary">Show Only Upcoming</button>
    <button type="button"
            [disabled]="model.showingAll"
            (click)="showAll()"
            class="btn btn-secondary">Show All</button>
  </div>
  <div class="btn-group mr-2"
       role="group"
       aria-label="Second group">
    <button type="button"
            [disabled]="model.sortingByName"
            (click)="sortByName()"
            class="btn btn-secondary">Sort By Name</button>
    <button type="button"
            [disabled]="model.sortingByDate"
            (click)="sortByDate()"
            class="btn btn-secondary">Sort By Date</button>
  </div>

</div>
