<form [formGroup]="form"
      (ngSubmit)="submit(focusme)">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control"
           formControlName="name"
           #focusme
           id="name">
    <div class="alert alert-danger"
         *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.minlength">
        That isn't long enough. You need {{ name.errors.minlength.requiredLength }}
      </div>
      <div *ngIf="name.errors.required">
        You have to give us a name!
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           formControlName="email"
           class="form-control"
           id="email">
  </div>
  <div class="form-group form-check"
       formArrayName="holidays"
       *ngFor="let holiday of holidaysArray.controls; let i = index">
    <input type="checkbox"
           [formControlName]="i"
           class="form-checkbox-input">
    <label class="form-check-inline">{{ holidays[i].name}} {{ holidays[i].date | date: 'shortDate' }}</label>
  </div>
  <div class="alert alert-danger"
       *ngIf="holidaysArray.invalid && (holidaysArray.dirty || holidaysArray.untouched)">
    <p *ngIf="holidaysArray.errors.required">
      You have to pick at least {{holidaysArray.errors.needed}}
    </p>
  </div>
  <input type="submit"
         [disabled]="form.invalid"
         class="btn btn-primary"
         value="Add This Person">
</form>
