<!-- show the error component only if there is an error. The component should show the error message -->
<!-- on the component, have a button they can click to dismiss the error. -->
<div *ngIf="hasError$ | async">
  <app-error-display [message]="errorMessage$ | async"></app-error-display>
</div>

<header class="page-header container-fluid jumbotron">
  <h1>Front End Web 300</h1>
  <h2>Progressive ITU</h2>
</header>
<main class="container">
  <app-nav></app-nav>
  <router-outlet></router-outlet>
</main>
