<div class="card"
     *ngFor="let recipient of model">
  <div class="card-body">
    <h5 class="card-title">{{recipient.name}}</h5>
    <p class="card-text"
       *ngIf="recipient.email">{{recipient.name}} can be contacted at <a
         href="mailto:{{recipient.email}}">{{recipient.email}}</a></p>
    <p class="card-text"
       *ngIf="!recipient.email">{{recipient.name}} has not updated any email</p>
    <em>Holidays:</em>
    <ul class="list-group">
      <li *ngFor="let holiday of recipient.holidays"
          class="list-group-item">{{holiday.description}}</li>
    </ul>
  </div>
</div>
